<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <property name="patternfull">
            %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
        </property>
        <property name="patternshort">
            %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
        </property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternshort}"/>
        </Console>
        <File name="TxtFile" filename="logs/log.log" bufferedIO="true">
            <PatternLayout pattern="${patternfull}"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="by.golik.task08threads" level="warn"
                additivity="true">
            <AppenderRef ref="TxtFile"/>
        </Logger>
    </Loggers>
</Configuration>